select {
  margin: 10px;
  width: 260px;
  height: 40px;
  text-align: center;
  font-size: 25px;
}

#generateButton {
  margin: 10px;
  width: 210px;
  height: 45px;
  background-color: darkgreen;
}

.sidebar {
  /* Positioning */
  background-color: #f2f2f2;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  /* Content centering */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;

  /* Rounded border */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: .3%;
}

.tab {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}

.unselectedTab {
  background-color: transparent;
  color: black;
}

.selectedTab {
  background-color: dimgrey;
  color: white;
}

.characterButton {
  color: white;
}

#saveButton {
  background-color: darkgreen;
}

#resetButton {
  background-color: darkred;
}